fastapi==0.115.6
uvicorn[standard]==0.34.0
gunicorn==23.0.0
sqlalchemy==2.0.36
asyncmy==0.2.10
PyMySQL==1.1.1
alembic==1.14.0
pydantic==2.10.3
pydantic-settings==2.7.0
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
redis==5.2.1
celery==5.4.0
httpx==0.28.1
python-multipart==0.0.19
oss2==2.19.0
wechatpayv3==2.0.2
tenacity==9.0.0
asgiref==3.8.1
